<% if (@ventures.empty?) %>
    </br>
    <h3>No Ventures Found. <%= link_to " Search Peers ", ventures_path %>instead and find someone to work with. </h3>
  <% else %>

  <% @ventures.each do |venture| %>
  <div class="hoverclass">
    <h3><%= link_to "#{venture.venture_name}", venture_path(venture) %></h3></br> A venture By
    <em><%=  link_to "#{venture.user.username}", peer_path(venture.user.peer) %></em>
    <span> | Created </span>  <%= time_ago_in_words(venture.created_at) + " ago" %><span> | </span><strong><%= venture.type_payments.map{|u| u[:thepay]}.join(', ') %></strong><span> | </span><strong><%= venture.type_ventures.map{|u| u[:thetype]}.join(', ') %></strong></br></br>

    <p><%= venture.about_venture %></p>

    <span> Language Needs: </span><strong><%= venture.language_needs.map{|u| u[:theneed]}.join(', ') %></strong><span> | Skill Required: </span><strong><%=  %></strong></br>
  </div>
  <% end %>
  <% end %>

