

<div class="container">
	<div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">The Basics</h4>
                    <p class="list-group-item-text">The Venture Basics</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">The Language</h4>
                    <p class="list-group-item-text">Just how good are you?</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">About</h4>
                    <p class="list-group-item-text">About the Venture</p>
                </a></li>
            </ul>
        </div>
	</div>
	<%= form_for(@venture) do |f| %>
  <% if @venture.errors.any? %>
    <div class="alert alert-warning">
      <h2><%= pluralize(@venture.errors.count, "error") %> prohibited this venture from being saved:</h2>

      <ul>
      <% @venture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                
                <%= form_for(@venture) do |f| %>
                <%= render "basic", :f => f %>
                <button id="activate-step-2" class="btn btn-primary btn-lg">Next!</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                
                <%= render "language", :f => f %>
                <button id="activate-step-3" class="btn btn-primary btn-lg">Next!</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                
                <%= render "about", :f => f %>
                <% end %>
        </div>
    </div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
    
    var navListItems = $('ul.setup-panel li a'),
        allWells = $('.setup-content');

    allWells.hide();

    navListItems.click(function(e)
    {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this).closest('li');
        
        if (!$item.hasClass('disabled')) {
            navListItems.closest('li').removeClass('active');
            $item.addClass('active');
            allWells.hide();
            $target.show();
        }
    });
    
    $('ul.setup-panel li.active a').trigger('click');
    
    // DEMO ONLY //
    $('#activate-step-2').on('click', function(e) {
        $('ul.setup-panel li:eq(1)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-2"]').trigger('click');
        $(this).remove();
    })

	 $('#activate-step-3').on('click', function(e) {
        $('ul.setup-panel li:eq(2)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-3"]').trigger('click');
        $(this).remove();
    })
 });
</script>
