<h2>Help Me With <select></select> for! </h2>

<div class="container">
  <div class="col-md-6 tutorial_index">
  <h3>Functionality</h3>
    <% @tutorials.each do |tutorial| %>
      <div class="well">
        
        <p class="pull-right"><%= tutorial.learning_languages.map{|u| u[:thelearn]}.join(', ') %> | Viewed: 12</p>
        <h4><%= link_to "#{tutorial.functionality}", tutorial_path(tutorial) %></h4>
      </div>
        
    <% end %>
    
  </div>
  <div class="col-md-6 tutorial_index">
  <h3>Suggestions</h3>
    <% @suggestions.each do |suggestion| %>
      <div class="well">
        <p class="pull-right"><%= suggestion.learning_languages.map{|u| u[:thelearn]}.join(',') %> | <%= link_to "", like_tutorial_path(suggestion), method: :put, class: "glyphicon glyphicon-hand-up" %> <%= suggestion.likes.size %> </p>
        <h4><%= link_to "#{suggestion.functionality}", tutorial_path(suggestion) %></h4>
        

      </div>

    <% end %>

  </div>
</div>
  
