
<div class="col-md-6">
<tr>
    <td><%=f.label(:availability_ids, "Availability:") %></td>
    <td><%= f.collection_select(:availability_ids, Availability.all, :id, :theavail, {prompt: '-Select Your Availability-'},{:class=>"form-control multiselect multiselect-icon", :item_wrapper_class => 'inline'}) %></td>
  </tr>
</div>
<div class="col-md-6">
<tr>
    <td><%= f.label(:about_me, "Tell Us About Yourself:") %></td>
    <td><%= f.text_area(:about_me, :placeholder=>"Why should anyone work with you?", :class=>"form-control")%></td>
  </tr></br>
<%= f.submit :class => "btn btn-lg btn-primary" %>
</div>