<div class="container">
	<div class="col-md-offset-1 col-md-3">
		<%= image_tag @peer.user.gravatar_url(:default => "identicon", :size => 160) %>
		<div class="well col-sm-6 col-md-12">
			<h4>About Me!</h4>
			<%= @peer.about_me %>
		</div>
	</div>
	
	<div class="col-md-7 show_info">
		<div class="centered">
			<h2><%= "#{@peer.user.username}'s profile" %></h2>
			<% if current_user == @peer.user %>
			  <%= link_to 'Edit', edit_peer_path(@peer) %>
			 <% end %>
			<em><%= "User Since #{time_ago_in_words(@peer.created_at)}" + " ago" %></em>
		</div>
		
		<div class="container">

			<div class="col-md-6">
				<div class="well">
					<h4>Interested In:</h4>
					<p><%= @peer.site_interests.map{|u| u[:theinte]}.join(', ') %></p>
				</div>
				
				<div class="well">
					<h4>Known Languages</h4>
					<p><%= @peer.known_languages.map{|u| u[:thelang]}.join(', ') %></p>
				</div>
				<div class="well">
				<h4>Availability</h4>
					<p><%= @peer.availabilities.map{|u| u[:theavail]}.join(', ') %></p>
				</div>
			
			
				<div class="well">
					<h4>Learning Language</h4>
					<p><%= @peer.learning_languages.map{|u| u[:thelearn]}.join(', ') %></p>
				</div>
				
			</div>
					

			
		</div>
	</div>
</div>