<!DOCTYPE html>
<html>
<head>
  <title>Alpha</title>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootflat", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "site.min", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <h3><%= link_to "VenturePeers", root_path %></h3>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <div class="container">
		    <ul class="nav navbar-nav navbar-right">
		      <li><%= link_to "Resources", tutorials_path %> </li>
		      
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Peers and Ventures<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to("Find Ventures", ventures_path) %></li>
		      	<li><%= link_to("Find a Peer", peers_path) %> </li>
                <li><%= link_to("New Venture", new_venture_path) %></li>
                                
              </ul>
             </li>

		<% if user_signed_in? %>
	
             <li class="dropdown"><%= link_to "My Profile", "#", :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", root_path %></li>
                
                <li><%= link_to "Messages", conversations_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
			<% else %>

		      
		     				          
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sign Up/Sign in<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>                
              </ul>
            </li>
            
		<% end %>


		      
		    </ul>
		</div>
	  </div><!-- /.navbar-collapse -->
	</nav>
	<% if notice %>
		<p class="notice alert-warning"><%= notice %></p>

     <% end %>
    <% if alert %>
		<p class="alert alert-success"><%= alert %></p>
	<% end %>

<%= yield %>
  
<script type="text/javascript"> $(document).ready(function () { $('.dropdown-toggle').dropdown(); }); </script>

</body>
</html>
